# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
venv/
.env

# Flask cache/logs
instance/
*.log

# TTS Output
audio_output/

# VS Code / IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
